<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <context-param>
  	<param-name>persistence.provider.class</param-name>
  	<param-value>org.eclipse.persistence.jpa.PersistenceProvider</param-value>
  </context-param>

  <context-param>
  	<param-name>persistence.unit.name</param-name>
  	<param-value>poker.league.data</param-value>
  </context-param>

  <listener>
  	<listener-class>
  		cz.fhsoft.poker.league.server.ServletInitializer
  	</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>entityServiceServlet</servlet-name>
    <servlet-class>cz.fhsoft.poker.league.server.persistence.EntityServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>entityServiceServlet</servlet-name>
    <url-pattern>/cz_fhsoft_poker_league/entityService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>statisticsServiceServlet</servlet-name>
    <servlet-class>cz.fhsoft.poker.league.server.services.StatisticsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>statisticsServiceServlet</servlet-name>
    <url-pattern>/cz_fhsoft_poker_league/statisticsService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>gameServiceServlet</servlet-name>
    <servlet-class>cz.fhsoft.poker.league.server.services.GameServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>gameServiceServlet</servlet-name>
    <url-pattern>/cz_fhsoft_poker_league/gameService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>verificationServiceServlet</servlet-name>
    <servlet-class>cz.fhsoft.poker.league.server.services.VerificationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>verificationServiceServlet</servlet-name>
    <url-pattern>/cz_fhsoft_poker_league/verificationService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>invitationServiceServlet</servlet-name>
    <servlet-class>cz.fhsoft.poker.league.server.services.InvitationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>invitationServiceServlet</servlet-name>
    <url-pattern>/cz_fhsoft_poker_league/invitationService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cronInvitationsServlet</servlet-name>
    <servlet-class>cz.fhsoft.poker.league.server.InvitationSender</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>cronInvitationsServlet</servlet-name>
    <url-pattern>/cron/invitations</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Cz_fhsoft_poker_league.html</welcome-file>
  </welcome-file-list>

</web-app>