.pseudoLink {
	color: #5555cc;
	cursor: pointer;
	display: inline-block;
}

.pseudoLink:hover {
	text-decoration: underline;
}

.editorLabel {
	font-size: 20px;
	font-weight: bold;
}

.multiSelector {
	max-width: 300px;
}

.multiSelectorCheckBox {
	min-width: 80px;
	display: inline-block;
}
